body {
                font-family:  sans-serif, Arial, Helvetica,  Verdana;
                line-height: 1.6em;
                color: #fff;
                background-color: rgb(35, 62, 92);
                font-size: 1.4em;
                background-image: url("../img/Paris.jpg");
                /* background-size: 100% auto; */
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left top;;
}

.topnav {
    font-family: sans-serif, Arial, Helvetica,  Verdana;
    font-size: 12px;
    background-color: transparent;
    overflow: hidden;
    width: inherit;
  }


  .topnav a:hover {
    
    color: rgb(241, 238, 11);
    text-decoration: underline;
  }

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 0px 0px;
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.active {
    
    color: rgb(241, 238, 11);
  }

#container   { 	width: 900px; 
                margin: 0px auto 20px;
                padding: 10px 10px 10px 10px;
                color: #eee;
                background-color: transparent; 
                border-top: 1px;        
                 }


.box-content-right {
                    color: #fff;
                    border: 1px solid rgb(241, 238, 11);
                    margin: 100px 5px 5px 400px;
                    padding: 10px 10px 10px 10px;
                    font-size:12px;
                    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.75);
                    text-align: right;
                    line-height: 1.0em;
                    background: rgba(70, 72, 82, 0.5)
                }

.box-content-right a:hover {
                    text-decoration: none;
                } 

.box-content-right a {
                    color: #5d5d5d;
                }
.box-content-right h3 {
                    color: #b2c11d;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: rgb(29, 37, 48, 0.7);
                    padding: 5px 5px 5px 5px;
                }


.box-content-left {
    color: #fff;
    border: 1px solid rgb(241, 238, 11);
    margin: 450px 400px 5px 5px;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.75);
    text-align: left;
    line-height: 1.0em;
    background: rgba(70, 72, 82, 0.5)
}

    .box-content-left a:hover {
        text-decoration: none;
    }

    .box-content-left a {
        color: #5d5d5d;
    }

    .box-content-left h3 {
        color: #b2c11d;
        font-size: 18px;
        font-weight: bold;
        background-color: rgb(29, 37, 48, 0.7);
        padding: 5px 5px 5px 5px;
    }
    
#usf {
      position: absolute;
      margin: 10px 10px 10px 10px;
      top: 0;
      right: 0;
      height:60px;
      width:60px;
      background-color: transparent;
      background-image: url("../img/usf_seal.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }

    .top{top:0}
    .middle{top:50%;margin-top:-10px;/*half of the .box height*/}
    .bottom{bottom:0}
                    
    .left{left:0;}
    .center{left:50%;margin-left:-10px;/*half of the .box width*/}
    .right{right:0;}