/* Set height to 100% for body and html to enable the background image to cover the whole page: */

body,
html {
    height: 100%;
}

h1,
h2,
aside {
    text-align: center;
}

h3 {
    display: inline
}

.vineyard-link {
    display: inline;
    float: right;
    bottom: 0;
}

.vineyard-container {
    padding: 5%;
}

img {
    width: 100%;
    flex-grow: 1;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.c1,
.c2,
.c3,
.c4,
.c5 {
    width: 66%;
}

@media (min-width: 600px) {
    .c2,
    .c3,
    .c4,
    .c5 {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .c1 {
        width: 60%;
    }
    .c2 {
        width: 40%;
    }
    /* Using 33.33%, doesn't always work right due to rounding */
    .c3,
    .c4 {
        width: 33%;
    }
    .c5 {
        width: 34%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-grow: 1;
}

.home-button {
    width: 100%;
    margin: 5%;
    padding: 15px 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    background-color: royalblue;
    color: white;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
}


/* Hide the images by default */

.image-slide {
    display: none;
    align-self: center;
    flex-grow: 1;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev,
.next {
    background-color: silver;
    opacity: 75%;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}